@charset "UTF-8";
:root {
  --bg-theme-color: #000000;
  --white: #fff;
  --theme: #FFFF00;
  --name-font-size: 5rem;
  --text-primary: #fff;
  --text-primary-size: 1.6rem;
  --text-secondary: #808080;  
  --text-secondary-size: 1.2rem;
  --section-title-size: 2rem;
  --dark-grey: #0c0c0c;
  --text-small-size: 1rem;
  --primary-font: 'Yomogi', sans-serif;
  --skill-icon-size: 5rem;
}
@media (max-width: 40rem) {
  :root {
    --name-font-size: 3rem;
    --text-primary-size: 1.2rem;
    --text-secondary-size: 1rem;
    --section-title-size: 1.2rem;
    --text-small-size: 0.9rem;
    --skill-icon-size: 4rem;
  }
}
html {
    margin: 0;
    padding: 0;
}

body {
  padding: 2rem;
  text-align: center;
  background-color: var(--bg-theme-color);
  align-items: center;
  justify-content: center;
  /*background-image: url("assets/bg.gif");*/
  /*background-repeat: no-repeat;*/
  /*background-size: 100% 10%;*/

}
body:hover{
  cursor: default;
}
/*HEADER*/
.header {
  margin-top: 4.5rem;
}
.avatar {
  width: 12rem; 
  height: 12rem;
  box-sizing: border-box;
  border-style: solid; 
  border-radius: 50%;
  padding: 5px;
  border-color: var(--theme);
  overflow: hidden;
  transform: translatey(0px);
  animation: float 2s ease-in-out infinite;
  /* img { width: 100%; height: auto; } */
}
@keyframes float {
  0% {
    box-shadow: 0px 8px 12px ;
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0px 20px 12px 0px var(--theme);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0px 8px 12px ;
    transform: translatey(0px);
  }
}
.name {
  font-family: 'Miriam Libre';
  color: var(--theme);
  background:url('assets/name_bg.gif') center center no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:var(--name-font-size);
  background-size:cover;
  color:transparent;
}
.name .initial {
  font-size: 5rem;
}
.resume {
  background-color: var(--bg-theme-color);
  border: 1px solid var(--theme);
  color: var(--text-primary);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: var(--text-secon-size);
  font-family: var(--primary-font);
  border-radius: 5px;
  cursor: pointer;
}
.resume:hover {
  color: var(--theme);
}
/*.resume:active {
  background-color: var(--theme);
}
.resume:focus {
  background-color: var(--theme);
}*/
/*HEADER END*/

.content {
  text-align: left;
  color: var(--text-primary);
  font-size: var(--text-primary-size);
  font-family: var(--primary-font);
}
.section {
  margin-top: 7rem;
}
.section-title {
  color: var(--theme);
  font-size: var(--section-title-size);
  font-family: 'Press Start 2P';
}
/*education*/
.education {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
  align-content: stretch;
}
.education .card {
  flex-grow: 1;
  padding: 1rem 1rem 1rem 0;

}
.education .card .title {
  font-weight: 800;
  font-family: 'Poppins';
}
.education .card .des {
  font-size: var(--text-secondary-size);
  color: var(--text-secondary);
}

/*skills*/
.skills {
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  flex-flow: wrap;
  align-content: stretch;
}
.skills .card {
  display: flex;
  margin: 1rem 1rem 1rem 0;
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--dark-grey);
  flex-direction: column;
  text-align: center;
  color: var(--text-primary);
  font-size: var(--text-small-size);
}
.skills .card .skill-logo {
  height: var(--skill-icon-size);
  width: var(--skill-icon-size);
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
  align-content: stretch;
}
.projects .card {
  flex-grow: 1;
  padding: 1rem 1rem 1rem 0;
}
.projects .card .title {
  font-weight: 800;
  font-family: 'Poppins';
}
.projects .card .des {
  font-size: var(--text-secondary-size);
  color: var(--text-secondary);
}
.projects .card .link {
  color: white;
  text-decoration: none;
}

.certi-link {
  color: var(--text-primary);
  text-decoration: none;
}
.certi-link:hover {
  text-decoration: underline;
}
/*hobies*/
.hobbies {
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  flex-flow: wrap;
  align-content: stretch;
}
.hobbies .card {
  display: flex;
  margin: 1rem 1rem 1rem 0;
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--dark-grey);
  flex-direction: column;
  text-align: center;
  color: var(--text-primary);
  font-size: var(--text-small-size);
}
.hobbies .card .hobby-name{
  margin-top: 1rem;
}

.list-item {
  margin-top: 2rem;
}
.contact {
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  flex-flow: wrap;
  /*align-content: stretch;*/
}
.contact .card {
  text-decoration: none;
  margin: 1rem 1rem 1rem 0;
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--dark-grey);
  color: var(--text-primary);
}
.contact .card:hover {
  color: var(--theme);
}
footer {
  margin-top: 7rem;
  color: var(--text-primary);
  font-size: var(--text-primary-size);
  font-family: var(--primary-font);
}
/*----------------------------------------*/
/*Loader Begin*/
#loadingDiv {
  position: fixed;
  top:0px;
  left: 0px;
  width:100%;
  height:100%;
  text-align: center;
  background: rgb(0, 0, 0);

}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {            
  margin: 60px auto;
  font-size: 10px;
  top: 30%;
  background: linear-gradient(var(--theme),var(--theme), var(--white));
  display: inline-block;
  position: relative;
  animation: gelatine 1.1s infinite linear;
}
@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*Loader End*/